* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #02979e;

  color: white;
  font-size: 10px;
  font-family: "Inter";
}

/* Navbar */

.navbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-container .contacts {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.navbar-container .contacts a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.3;
}

.navbar-container .navigation {
  display: none;
}

.navbar-divider {
  border-bottom: solid 2px white;
  width: 100%;
  margin-bottom: 3rem;
}

/* Hero section */

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.image {
  height: 23rem;
  width: 23rem;
  background-repeat: no-repeat;
  background-image: url("./imgs/logo\ EZ\ success.jpg");
  background-size: contain;
}

.btn-container {
  text-align: center;
}

.hero-btn {
  background-color: #fdb548;
  border: none;
  padding: 0.5rem 2.2rem;
  border-radius: 45px;
  font-weight: 600;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 0.8rem;
}

.hero-btn:hover {
  transform: translateY(-2px);
}

/* About us */

.title {
  margin-bottom: 1.3rem;
  font-size: 3rem;
  text-align: center;
}

.secondary-title {
  text-align: center;
  padding: 0 20px;
  margin-bottom: 30px;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0 2rem;
}

.divider {
  height: 0px;
  border-top: solid 2px white;
  margin: 0 24px 30px 24px;
}

.blocks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.blocks {
  width: 17rem;
  height: 14rem;
  text-align: center;
  margin-bottom: 1.5rem;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.blocks h2 {
  font-size: 40px;
  line-height: 0.8;
  margin-top: 0.2rem;
}

.blocks p {
  border: solid 2px #02979e;
  font-size: 18px;
  font-weight: 500;
  padding: 7px 3px;
  border-radius: 45px;
  width: 80%;
}

.seminarion {
  background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.664)),
    url("./imgs/תמונה-סמינריון.jpg");
  background-size: contain;
}

.academy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.664)),
    url("./imgs/עבודות-אקדמיות.jpg");
  background-size: contain;
}

.translation {
  background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.664)),
    url("./imgs/תרגום\ מאמרים.jpg");
  background-size: contain;
}

.fixes {
  background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.664)),
    url("./imgs/שרותי\ תיקון.jpg");
  background-size: contain;
}

/*  Recommandations */

.recom-sec {
  background-color: #fff;
  position: relative;
}

.phone-container {
  display: flex;
  background-color: #fff;
  width: 15rem;
  height: 30rem;
  position: relative;
  right: 50%;
  transform: translateX(50%);
}

.whatsapp img {
  width: 94%;
  height: 90%;

  top: -4%;
  position: absolute;
}

.phone {
  width: 94%;
  height: 94%;
  position: absolute;
  z-index: 2;
}

.overlay-top {
  width: 100%;
  height: 6rem;
  background-color: #02979e;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.overlay-bot {
  padding-bottom: 5rem;
  background-color: #02979e;
  clip-path: polygon(0 0, 50% 100%, 100% 0%, 100% 100%, 0 100%);
}

.title-recom {
  font-size: 3rem;
  text-align: center;
  background-color: #fff;
  color: black;
  padding-bottom: 1rem;
}

.next-btn {
  position: absolute;
  font-size: 2.3rem;
  right: 0%;
  top: 50%;
  background: none;
  border: none;
  cursor: pointer;
}

.prev-btn {
  position: absolute;
  font-size: 2.3rem;
  left: 0%;
  top: 50%;
  z-index: 10;
  background: none;
  border: none;
  cursor: pointer;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease-in;
}

.slide.active {
  opacity: 1;
  transition-duration: 3s ease-in;
}
