* {
  padding: 0;
  margin: 0;
}

body {
  color: white;
  font-size: 10px;
  font-family: "Inter";
  background-color: #02979e;
}

/* Navbar */

.navbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-container .contacts {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  position: relative;
}

.navbar-container .contacts button {
  text-decoration: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.3;
  cursor: pointer;
}

.navbar-container .contacts .popup {
  opacity: 0;
  position: absolute;
}

.navbar-container .contacts .popup.active {
  opacity: 1;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.664);
  position: absolute;
  align-self: flex-start;
}

.navbar-container .navigation {
  display: none;
}

.navbar-divider {
  border-top: solid 2px white;
  width: 100%;
  height: 3rem;
}

/* Hero section */

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.image {
  height: 23rem;
  width: 23rem;
  background-repeat: no-repeat;
  background-image: url("./imgs/logo\ EZ\ success.jpg");
  background-size: contain;
}

.btn-container {
  text-align: center;
}

.hero-btn {
  background-color: #fdb548;
  border: none;
  padding: 0.5rem 2.2rem;
  border-radius: 45px;
  font-weight: 600;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 0.8rem;
}

.hero-btn:hover {
  transform: translateY(-2px);
}

.icons {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 30%;
  left: 0%;
  z-index: 10;
}

.icons a {
  text-decoration: none;
  font-size: 2.2rem;
  height: 32px;
  width: 32px;
}

.facebook {
  color: #3b5998;
}
.insta {
  color: #8a3ab9;
}

.whats-icon {
  text-decoration: none;
  font-size: 2.4rem;
  position: fixed;
  bottom: 5%;
  right: 4%;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 100px;
  background-color: #26ca62;
  transition: 0.3s;
  z-index: 10;
}

.whats-icon:hover {
  transform: translateY(-3px);
}

/* About us */

.title {
  margin-bottom: 1.3rem;
  font-size: 3rem;
  text-align: center;
}

.secondary-title {
  text-align: center;
  padding: 0 20px;
  margin-bottom: 30px;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0 2rem;
}

.divider {
  height: 0px;
  border-top: solid 2px white;
  margin: 0 24px 30px 24px;
}

.blocks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.blocks {
  width: 17rem;
  height: 14rem;
  text-align: center;
  margin-bottom: 1.5rem;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.blocks h2 {
  font-size: 40px;
  line-height: 0.8;
  margin-top: 0.2rem;
}

.blocks p {
  font-size: 18px;
  font-weight: 500;
  padding: 7px 3px;
  border-radius: 45px;
  width: 80%;
}

.seminarion {
  background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.664)),
    url("./imgs/תמונה-סמינריון.jpg");
  background-size: contain;
}

.academy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.664)),
    url("./imgs/עבודות-אקדמיות.jpg");
  background-size: contain;
}

.translation {
  background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.664)),
    url("./imgs/תרגום\ מאמרים.jpg");
  background-size: contain;
}

.fixes {
  background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.664)),
    url("./imgs/שרותי\ תיקון.jpg");
  background-size: contain;
}

/*  Recommandations */

.recom-sec {
  background-color: #fff;
  padding: 5rem 0;
  clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.phone-container {
  display: flex;
  background-color: #fff;
  width: 15rem;
  height: 30rem;
  position: relative;
  right: 50%;
  transform: translateX(50%);
}

.whatsapp img {
  width: 94%;
  height: 90%;

  top: -4%;
  position: absolute;
}

.phone {
  width: 94%;
  height: 94%;
  position: absolute;
  z-index: 1;
}

.title-recom {
  font-size: 3rem;
  text-align: center;
  background-color: #fff;
  color: black;
  padding-bottom: 1rem;
}

.nxt-prv-btn {
  position: relative;
  width: 100%;
}

.next-btn {
  position: absolute;
  font-size: 2.3rem;
  top: 50%;
  right: -15%;
  background: none;
  border: none;
  cursor: pointer;
}

.prev-btn {
  position: absolute;
  font-size: 2.3rem;
  left: -10%;
  top: 50%;
  z-index: 10;
  background: none;
  border: none;
  cursor: pointer;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease-in;
}

.slide.active {
  opacity: 100%;

  transition-duration: 3s ease-in;
}
/* Footer form */

.footer-container {
  display: flex;
  margin-top: 0.5rem;
}

.footer-info {
  height: 10rem;

  display: none;
}

.footer-form {
  width: 50%;
  height: 10rem;
  width: 100%;
  text-align: center;
}

.footer-form h2 {
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

label {
  font-size: 14px;
}

.email {
  display: block;
}
.name {
  display: block;
}

#name {
  margin-right: 0.49rem;
  margin-bottom: 0.8rem;
  width: 65%;
}

#email {
  margin-right: 1rem;
  width: 65%;
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  text-align: center;
  line-height: 2.2;
}

.contacts-footer a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.form-submit-btn {
  background-color: #fdb548;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 45%;
  margin-top: 0.5rem;
}
